.layout-sidebar {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
.layout-sidebar::-webkit-scrollbar {
    width: 6px;
}

.layout-sidebar::-webkit-scrollbar-track {
    background: transparent;
}

.layout-sidebar::-webkit-scrollbar-thumb {
    background-color: #707c8ca9;
    border-radius: 20px;
}

.p-tabview .p-tabview-panels {
    padding-top: 1.5rem;
    padding-left: 0;
    padding-right: 0;
}

.p-fluid .p-fileupload .p-button {
    margin-bottom: 0.3em;
}

.p-button.p-button-icon-only {
    padding: 0.75rem;
}
